@charset "utf-8";
/* CSS Document */

*{
 margin: 0;
 paddng: 0;	
}

.backgrnd{ 
 position:relative;	
 widht:100%;
 height:100%;
 border:2px solid black;	
}
img{
 position:absolute;
 top:0;
 left: 0;
 width:100%;
 height: 1000px;	
}

